.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: "Open Sans", sans-serif;
}

.centered-wrapper {
  box-sizing: border-box;
  width: 75%;
  height: auto;
  margin: 0 auto;
}

.underline {
  box-sizing: border-box;
  width: 100px;
  height: 4px;
  margin: 0 auto;
  background-color: #fcac45;
}
